*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}
:root{
    --black:#0f0f0f;
    --jade:#00A36C;
    --j-gradient-1: #395438;
    --j-gradient-2: #00ff59;
    --j-gradient-3:#84f690;
    --ff-lato:'Lato',sans-serif;
    --ff-sans:'Source Sans Pro',sans-serif;
    --fs-link: 1.7rem;
}
body{
    font-family:var(--ff-lato);
}

/* Nav */
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.nav-top,.nav-top-wrap{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.nav-top{
    width:95%;
    justify-content:space-around;
}
.nav-top-wrap{
    width:100%;
    margin:2em;
    border-block: 1px solid black;
}
.nav-ul{
display:flex;
flex-direction:row;
}
nav a{
    margin:1em;
    font-size:var(--fs-link);
    color:black;
    font-weight:bold;
    transition:all .2s ease
}
nav a:hover{
    color:var(--jade);
    font-size:calc(var(--fs-link) + .5px)
}  
.home{
    color:var(--jade);
}
.logo{
    width:15rem;
    margin-top:.5em;
    cursor:pointer;
    transition:all .5s ease
}
.logo:hover{
    transform:scale(1.05)
}
form{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:.7em;
    border:.5px solid rgba(0,0,0,0.4);
    border-radius:10px;
}
form.focused{
    border:2px solid black;
}
.nav-searchbar{
    color:rgba(0,0,0,0.6);
    font-size:16px;
}
.nav-searchbar:focus{
    outline:none;
}
.search-button,.nav-searchbar{
    border:none;
    background:transparent;
    margin-right:.4em;
}
.search-button{
    cursor:pointer;
}
.search-button:hover{
    filter: invert(44%) sepia(70%) saturate(4799%) hue-rotate(140deg) brightness(97%) contrast(101%);
}
.search-button>img{
    width:1rem;
}
 
/* Hamburger */
.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    width:2em;
    height:5px;
    display:block;
    margin:5px auto;
    background:black;
    border-radius:2px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5 ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

@media(max-width:1000px){
    .hamburger{
        display:block;
        justify-self:flex-end;
        margin-right:2em;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-ul{
        width:30%;
        height:100%;
        padding-top:4em;
        flex-direction: column;
        justify-content:flex-start;
        gap:1.8em;
        overflow:hidden;
        position:fixed;
        right:-105%;
        margin-right:auto;
        top:140px;
        z-index:1000;
        transition:all 0.5s ease-in-out;
        background:white;
    }
    .nav-ul.active{
        right:0px;
    }
}