*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}
:root{
    --black:#0f0f0f;
    --jade:#00A36C;
    --j-gradient-1: #395438;
    --j-gradient-2: #00ff59;
    --j-gradient-3:#84f690;
    --ff-lato:'Lato',sans-serif;
    --ff-sans:'Source Sans Pro',sans-serif;
    --fs-link: 1.7rem;
}
body{
    font-family:var(--ff-lato);
}

/* Nav */
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.nav-top,.nav-top-wrap{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.nav-top{
    width:95%;
    justify-content:space-around;
}
.nav-top-wrap{
    width:100%;
    margin:2em;
    border-block: 1px solid black;
}
.nav-ul{
display:flex;
flex-direction:row;
}
nav a{
    margin:1em;
    font-size:var(--fs-link);
    color:black;
    font-weight:bold;
    transition:all .2s ease
}
nav a:hover{
    color:var(--jade)
}  
.home{
    color:var(--jade);
}
.logo{
    width:15rem;
    margin-top:.5em;
}
.nav-searchbar{
    color:rgba(0,0,0,0.6);
    padding:1em;
    border-radius:15px;
}